body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.bg {
  background-image: url("NetflixBG.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  list-style: none;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav li:last-child {
  margin-right: 0;
}

.banner {
  background-image: url("banner-image.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 30px;
}
.logo {
  color: red;
  font-size: xx-large;
  font-family: Bebas Neue;
}
.cta-button {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.movie-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.movie-card {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 24px;
  margin: 10px 0;
}

.movie-card p {
  font-size: 16px;
}
